/* CSS RESET */
.snipe *, .snipe div, .snipe, .snipe form, .snipe input, .snipe ul, .snipe li, .snipe div, .snipe em {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 100% !important;
    font: inherit !important;
    vertical-align: baseline !important;
}

.invisible {
    display: none !important;
}

.snipe {
    font-family: Georgia, sans-serif !important;

    display: -webkit-box !important;
    -webkit-box-sizing: border-box !important;
    -webkit-box-pack: center !important;

    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 999999 !important;
    top: 0 !important;
}

.snipe .wrapper {
    width: 70% !important;
    max-width: 400px !important;
    position: relative !important;
    top: 20px !important;
    opacity: 0 !important;
    
    -webkit-perspective: 1000 !important;

    -webkit-transition-property: opacity, -webkit-transform !important;
    -webkit-transition-duration: 200ms !important;
    -webkit-transition-timing-function: ease-in-out !important;
    
    -webkit-transform: translateY(25px) !important;
}

.snipe.in .wrapper {
    -webkit-transform: translateY(0) !important;
    opacity: 1 !important;
}

.snipe.out .wrapper {
    -webkit-transform: translateY(-25px) !important;
    opacity: 0 !important;
}

.snipe .wrapper > form {
    -webkit-border-radius: 5px !important;
    -webkit-box-sizing: border-box !important;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75) !important;
    -webkit-backface-visibility: hidden !important;

    -webkit-transition: -webkit-transform 300ms ease-out !important;

    padding: 10px !important;
    display: block !important;

    width: 100% !important;
}

.snipe .input {
    background: rgba(0, 0, 0, 0.6) !important;
    position: relative !important;
    z-index: 1;
}

.snipe input {
    -webkit-box-sizing: border-box !important;

    font-family: inherit !important;
    border: 1px solid black !important;
    padding: 5px !important;
    margin: 0 !important;
    outline: none !important;
    display: block !important;
    width: 100% !important;
}

.snipe .input input {
    font-size: 22px !important;
    padding-left: 35px !important;
    background: #fff url('../images/bird.png') no-repeat 3px center !important;
}

.snipe .input .settingsBtn {
    display: block !important;
    width: 18px !important;
    height: 17px !important;
    background: transparent url('../images/gears.png') no-repeat center center !important;
    padding: 2px !important;
    opacity: 0.5 !important;
    border: 0 !important;

    position: absolute !important;
    top: 12px !important;
    right: 12px !important;
}

.snipe .input .settingsBtn:hover {
    opacity: 0.85 !important;
}


/*
    Results
*/

.snipe ul {
    background: rgba(255, 255, 255, 0.9) !important;
    margin: 1px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    list-style-type: none !important;
}

.snipe ul li {
    overflow: hidden !important;
    list-style: none !important;
    font-size: 16px !important;
    color: #666 !important;
    padding: 10px 10px 10px 26px !important;
    border-top: 1px dotted #999 !important;
    cursor: default !important;
    display: block !important;
    text-align: left !important;
    line-height: 19px !important;

    background-repeat: no-repeat !important;
    background-position: 5px 11px !important;
    background-size: 16px 16px !important;
}

.snipe ul li.active {
    background-color: white !important;
}

.snipe ul li:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
}

.snipe ul li em {
    display: inline !important;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #4272DB !important;
    white-space: nowrap !important;
    background: transparent !important;
    border: 0 !important;
}


/*
    Settings
*/
.snipe .wrapper > .settings {
    -webkit-transform: rotateY(180deg) !important;
    font-size: 16px !important;
    color: #757575 !important;
    text-shadow: #111 -1px -1px 0px !important;
    background: url('../images/bg.png') 0 0;
    font-weight: normal !important;
    position: absolute !important;
    top: 0 !important;
}

.snipe .settings fieldgroup {
    margin-bottom: 10px !important;
    display: block !important;
}

.snipe .settings label {
    display: block !important;
    margin-bottom: 7px !important;
}

.snipe .settings label em {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 0.9em !important
}

.snipe .settings .shortcut-field {
    position: relative !important;
    display: block !important;
    -webkit-box-flex: 1 !important;
}

.snipe .settings fieldgroup.done {
    display: -webkit-box !important;
    -webkit-box-align: end !important;
    margin-bottom: 0 !important;
}

.snipe .settings .done small {
    font-size: 11px !important;
    text-align: left !important;
    display: block !important;
    -webkit-box-flex: 1 !important;
}

.snipe .settings a,
.snipe .settings a:link,
.snipe .settings a:hover {
    color: #09A7B5 !important;
    border: 0 !important;
}

.snipe .settings input[type="button"].done {
    -webkit-appearance: push-button  !important;
    width: auto !important;
    font-size: 12px !important;
    font-weight: bold !important;
    background: #09A7B5 !important;
    padding: 5px 9px !important;
    color: #fff !important;
    border: 0 !important;
}

.snipe .settings span .clear,
.snipe .settings span.edit .revert {
    display: block !important;
}

.snipe.settings .input {
    -webkit-transform: rotateY(-180deg) !important;
}

.snipe.settings .settings {
    -webkit-transform: rotateY(0deg) !important;
}


/*
    Shortcut Field
*/
.snipe .settings input {
    font-size: 16px !important;
    -webkit-border-radius: 5px !important;
    border: 2px solid #333 !important;
    background-clip: padding-box;
}

.snipe .settings .shortcut-field button {
    position: absolute !important;
    top: 50% !important;
    right: 5px !important;
    margin-top: -9px !important;
    text-indent: -3000px !important;
    width: 18px !important;
    height: 18px !important;
    visibility: visible !important;

    border: 0 !important;

    -webkit-appearance: none !important;
}

.snipe .settings .shortcut-field button.clear {
    background: #bfbfbf !important;
    -webkit-mask-box-image: url('../images/close-btn.png') !important;
}

.snipe .settings .shortcut-field button.clear:hover {
    background: #a6a6a6 !important;
}

.snipe .settings .shortcut-field button.revert {
    background: #4572bc !important;
    -webkit-mask-box-image: url('../images/revert-btn.png') !important;
}

.snipe .settings .shortcut-field button.revert:hover {
    background: #4572bc !important;
}

.snipe .settings .shortcut-field.edit input {
    border: 2px solid #4572bc !important;
}

.snipe .settings .shortcut-field.edit .clear,
.snipe .settings .shortcut-field.empty .clear,
.snipe .settings .shortcut-field .revert {
    display: none !important;
}


/*
    Overrides if 3D transforms aren't supported
*/
.snipe.anim2d .wrapper > form {
    -webkit-transition: opacity 150ms ease-out !important;
}

.snipe.anim2d .wrapper > .settings {
    opacity: 0 !important;
}

.snipe.anim2d.settings .wrapper > .settings {
    -webkit-transform: rotateY(0deg) !important;
    opacity: 1 !important;
    z-index: 1;
}

.snipe.anim2d.settings .input {
    -webkit-transform: rotateY(0deg) !important;
    opacity: 0 !important;
    z-index: 0;
}


/*
    Overrides for when in Chrome popup window
*/
#snipe-popup {
    overflow: hidden !important;
}

#snipe-popup .snipe {
    width: auto !important;
    position: static !important;
    -webkit-transform: none !important;
    -webkit-transition-property: opacity !important;
}

#snipe-popup .snipe.in {
    -webkit-transform: none !important;
}

#snipe-popup .snipe.out {
    -webkit-transform: none !important;
}

#snipe-popup .snipe .wrapper {
    width: 400px !important;
}